/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
  
:root {
    --primary-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .hero{
    background-color: var(--secondary-color);
    padding: 60px 20px;
  }
    
  h1,
  h2,
  h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  h2 {
    font-size: 48px;
  }
  h1 {
    font-size: 96px;
  }
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  nav{
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
  }
  nav ul{
    margin: 0;
    padding: 0;
  }
  nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }
  nav a:hover,
  nav li.active a,
  footer a:hover{
    color: var(--primary-color);
  }
 .skills-list{
  list-style: none;
 }
 .skills-list a{
  color: black;
 }
.primary-link {
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color)
}
.primary-link:hover{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.content-container{
  padding: 60px 20px;
}
.content{
  margin: 40px 20px;
}
  p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
  
  }
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .soft-skills{
    opacity: 0.7;
  }
  footer {
    text-align: center;
    font-size: 38px;
    margin-top: 20px;
  }
  footer a{
    color: var(--primary-color);
    padding: 0 40px;
  }
  @media(max-width: 576px)
  {
    h1{
      font-size: 42px;
    }
    h2{
      font-size: 21px;
    }
    h3, h4{
      font-size: 15px;
    }
    p{
      font-size: 12px;
      padding: 0 10px;
    }
    .primary-link {
      padding: 5px 5px;
      margin: -20px 80px;
      display: block;
      text-align: center;
    }
    
    footer a{
    font-size: 18px;
    padding: 0 10px;
   }
   .content-container{
    padding: 0 5px;
   }
   .pashko-photo{
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   .column {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
  }
   .project-link{
    font-size: 12px;
   }
   .skills-list{
    text-align: left;
   }
  }

